* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #0c192c;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.circle {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.001);
    border-radius: 50%;
    border: 2px solid transparent;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
    border: 1px solid white;


}

#letter-i { 
    position: absolute;
    top: 0;
    left: 0;
    
}

#letter-i::first-letter {
    color: #ff2d75;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#letter-c {
    position: absolute;
    top: 0;
    right: 0;
    
}

#letter-c::first-letter {
    color: #4fc3dc;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#letter-t {
    position: absolute;
    bottom: 0;
    right: 0;
}

#letter-t::first-letter {
    color: #ff2d75;
    
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50%;
}


.circle1 {

    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 0px #4fc3dc, 0 0 0 #4fc3dc ;
}
.circle2 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 30px;
    left: 25px;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 100px #4fc3dc, 0 0 100px #4fc3dc ;

}

.circle3 {
    width: 200px;
    height: 200px;
    position: fixed;    
    top: 30px;
    left: 25px;
    box-shadow: 0 0 0 10px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.line-to-dialog {
    width: 30px;
    height: 1px;
    background-color: #ff2d75;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 100px     #ff2d75, 0 0 100px  #ff2d75 ;
    
}
.line-to-dialog2 {
    width: 75px;
    height: 1px;
    background-color:#ff2d75;
    position: absolute;
    top: -20px;
    left: 20px;
    transform: rotate(-80deg);
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 100px     #ff2d75, 0 0 100px  #ff2d75 ;
    
}
.dialog-box {
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: #73224F;
    position: absolute;
    top: -180px;
    left: 63px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
    
}

.dialog-box .title {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: white;
    letter-spacing: 2px;
}

.dialog-box div {
    color:beige;
}

.display-i-dialog, .display-c-dialog,  .display-t-dialog {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s; 

}

#ict-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
/* dialog box content design  */

.social-media-span {
    position: relative;
}



.display-content {
    padding: 15px;
    width: 300px;
    height: 300px;
    background-color: #73224F;
    position: absolute;
    top: 70px;
    left: -20px;
    border-radius: 20px;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
}
.display-description {
    position: relative;
    visibility: hidden; 
}
.display-line-1 {
    width: 80px;
    height: 2px;
    background-color: #ff2d75;
    position: absolute;
    top: 30px;
    left: -40px;
    transform: rotate(90deg);
}
.overview {
    position: relative;
}
/* content description part  */

.network-span:hover .display-networks, .software-span:hover .display-software, .technology-span:hover .display-technology-tools, .messaging-span:hover .display-messaging, .social-media-span:hover .display-social-media, .email-span:hover .display-email, .hardware-span:hover .display-hardware, .gather-span:hover .display-gather, .process-span:hover .display-process, .manage-span:hover .display-manage, .utilize-info-span:hover .display-utilize-info, .various-span:hover .display-various, .digital-span:hover .display-digital {
    cursor: pointer;
    visibility: visible;
    
    opacity: 1;
}
 
 

.display-technology-tools, .display-networks, .display-software, .display-messaging, .display-social-media, .display-email, .display-hardware, .display-gather, .display-process, .display-manage, .display-utilize-info, .display-various, .display-digital 
{
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s; 
    position: absolute;
    top: 30px;
    left: 20px;
    visibility: hidden;
}
 /* gather, process, manage, utilize information, various sources */

 /* gather  */
.line-1-gather {
    position: absolute;
    width: 105px;
    height: 2px;
    transform: rotate(110deg);
    top: -80px;
    left: -30px;
}

.line-2-gather {
    position: absolute;
    top: -131px;
    left: 40px;
    width: 350px;
    height: 2px;
    background-color: #ff2d75;
}

.content-gather {
    position: absolute;
    top: -160px;
    left: 250px;
    height: 180px;
}

/* process  */

.line-1-process {
    position: absolute;
    top: 40px;
    left: -36px;
    width: 100px;
    height: 2px;
    transform: rotate(80deg);

}

.line-2-process {
    position: absolute;
    top: 90px;
    left: 23px;
    width: 350px;
    height: 2px;
    background-color: #ff2d75;
}

.content-process {
    position: absolute;
    top: 60px;
    left: 200px;
    height: 130px;
}

/* manage  */

.line-1-manage {
    position: absolute;
    width: 115px;
    top: -85px;
    left: -70px;
    transform: rotate(80deg);
}
.line-2-manage {
    position: absolute;
    width: 280px;
    height: 2px;
    top: -140px;
    left: -300px;
    background-color: #ff2d75;
}
.content-manage {
    position: absolute;
    top: -170px;
    left: -550px;
    height: 130px;
}

/* utilize information  */

.line-1-utilize-info {
    width: 50px;
    position: absolute;
    top: 12px;
    left: -30px;
    transform: rotate(110deg);
}

.line-2-utilize-info {
    position: absolute;
    top: 35px;
    left: -93px;
    background-color: #ff2d75;
    height: 2px;
    width: 80px;
}

.content-utilize-info {
    position: absolute;
    top: -80px;
    left: -380px;
    height: 180px;
}
/* various sources  */

.line-1-various {
    position: absolute;
    top: 50px;
    left:  -75px;
    transform: rotate(110deg);
    width: 125px;
}

.line-2-various {
    position: absolute;
    top: 100px;
    left: -180px;
    background-color: #ff2d75;
    width: 150px;
    height: 2px;
}
.content-various {
    position: absolute;
    top: 70px;
    left: -420px;
    height: 130px;
}

/* email, messaging, social media  */

/* email  */

.content-email {
    position: absolute;
    top: 25px;
    height: 180px;
}

.content-messaging {
    position: absolute;
    top: 25px;
    height: 200px;
}

.content-social-media {
    position: absolute;
    top: 25px;
    height: 225px;

}

/* hardware, software, networks, digital systems, technology tools  */

/* hardware  */

.line-1-hardware {
    position: absolute;
    top: -90px;
    left: -55px;
    width: 125px;
}

.line-2-hardware {
    position: absolute;
    top: -172px;
    left: 5px;
    transform: rotate(165deg);
    width: 150px;
    height: 2px;
    background-color: #ff2d75;
}
.content-hardware {
    position: absolute;
    top: -375px;
    left: 100px;
    height: 245px;

}

/* software  */

.line-1-software {
    position: absolute;
    width: 140px;
    top: 60px;
    left: -55px;
}

.content-software {
    position: absolute;
    top: 120px;
    left: -150px;
    width: 350px;
    height: 250px;
}

/* networks  */

.line-1-networks {
    position: absolute;
    width: 140px;
    top: 60px;
    left: -55px;
}

.content-networks {
    position: absolute;
    top: 120px;
    left: -150px;
    width: 350px;
    height: 250px;
}

/* digital systems  */
.line-1-digital {
    position: absolute;
    transform: rotate(180deg);
    top: -20px;
    left: 80px;
}

.content-digital {
    position: absolute;
    top: -185px;
    left: 150px;
    height: 325px;
}
/* technology tools  */

.line-1-technology-tools {
    position: absolute;
    width: 125px;
    top: 50px;
    left: -58px;
}

.line-2-technology-tools {
    position: absolute;
    top: 132px;
    left: 3px;
    transform: rotate(-165deg);
    width: 150px;
    height: 2px;
    background-color: #ff2d75;
    
}

.content-technology-tools {
    position: absolute;
    left: 100px;
    height: 275px;
}
/* center on hover  */
.center {
    position: relative;
}

.line-center {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s, transform 0.6s; 
}

.center:hover .line-center, .center:hover .line-center-right, .center:hover .line-center-left, .center:hover .line-center-right-2, .center:hover .line-center-right-3, .center:hover .line-center-left-2, .center:hover .line-center-left-3, .center:hover .content-float {
    visibility: visible;
    opacity: 1;
}

/* lines  */

/* right  */
.line-center-right {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s, transform 1.2s ; 
    transition-delay: 0.1s;
}

.line-center-right-2 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s, transform 1.8s ; 
    transition-delay: 0.1s;
}

.line-center-right-3 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s, transform 2.4s ; 
    transition-delay: 0.1s;
}
.line-right-1 {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 125px;
    height: 2px;
    background-color: #ff2d75;
}

.line-right-1-1 {
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ff2d75;
    top: 100px;
    left:325px;
}

.line-right-1-1-1 {
    position: absolute;
    top: 69px;
    left: 156px;
    transform: rotate(90deg);
    width: 390px;
    height: 2px;
    background-color: #ff2d75;
}

.line-right-1-1-1-1 {
    position: absolute;
    width: 300px;
    height: 2px;
    top: -190px;
    left: 336px;
    transform: rotate(-25deg);
    background-color: #ff2d75;
}
.line-right-1-1-1-2 {
    position: absolute;
    width: 300px;
    height: 2px;
    top: 325px;
    left: 336px;
    transform: rotate(25deg);
    background-color: #ff2d75;
}

.line-right-1-1-1-3 {
    position: absolute;
    width: 300px;
    height: 2px;
    top: 100px;
    left: 350px;
    transform: rotate(180deg);
    background-color: #ff2d75;
}

.line-right-1-1-1-4 {
    position: absolute;
    width: 300px;
    height: 2px;
    top: 25px;
    left: 485px;
    background-color: #ff2d75;

}

.line-right-1-1-1-5 {
    position: absolute;
    left: 395px;
    top: 62px;
    width: 105px;
    height: 2px;
    background-color: #ff2d75;
    transform: rotate(-45deg);

}

/* center up  */
.line-center-left-2 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s, transform 1.8s ; 
    transition-delay: 0.1s;
}

.line-center-left-3 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s, transform 2.4s ; 
    transition-delay: 0.1s;
}
.line-center-up {
    position: absolute;
    top: -66px;
    left: 40px;
    width: 125px;
    height: 2px;
    transform: rotate(90deg);
    background-color: #ff2d75;
}
.line-center-up-1 {
    position: absolute;
    width: 125px;
    height: 2px;
    background-color: #ff2d75;
    top: -173px;
    left: -5px;
    transform: rotate(45deg);
}
.line-center-up-2 {
    position: absolute;
    width: 125px;
    height: 2px;
    background-color: #ff2d75;
    top: -173px;
    left: 85px;
    transform: rotate(-45deg);
}
/* left  */
.line-center-left {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s, transform 1.2s ; 
    transition-delay: 0.1s;
}
.line-left-1 {

    position: absolute;
    top: 100px;
    left: -125px;
    width: 125px;
    height: 2px;
    background-color: #ff2d75;
}

.line-left-1-1 {
    position: absolute;
    top: 100px;
    left: -150px;
    width: 25px;
    height: 2px;
    background-color: #ff2d75;
}

.line-left-1-1-1 {
    position: absolute;
    top: 69px;
    left: -345px;
    transform: rotate(90deg);
    width: 390px;
    height: 2px;
    background-color: #ff2d75;
}

.line-left-1-1-1-1 {
    position: absolute;
    width: 300px;
    height: 2px;
    top: -190px;
    left: -435px;
    transform: rotate(25deg);
    background-color: #ff2d75;
}
.line-left-1-1-1-2 {
    position: absolute;
    width: 300px;
    height: 2px;
    top: 325px;
    left: -435px;
    transform: rotate(-25deg);
    background-color: #ff2d75;
}
.line-left-1-1-1-3 {
    position: absolute;
    width: 300px;
    height: 2px;
    top: 100px;
    left: -450px;
    transform: rotate(180deg);
    background-color: #ff2d75;
}

.line-left-1-1-1-4 {
    position: absolute;
    width: 300px;
    height: 2px;
    top: 25px;
    left: -585px;
    background-color: #ff2d75;

}

.line-left-1-1-1-5 {
    position: absolute;
    left: -300px;
    top: 62px;
    width: 105px;
    height: 2px;
    background-color: #ff2d75;
    transform: rotate(45deg);

}
/* contents left n right */
.span-letter-spacer span {
    letter-spacing: 2px;
    width: 100%;
}
.content-float {
    border-radius: 20px;
    padding: 20px;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s, transform 1.2s ; 
    transition-delay: 0.1s;
}
/* contents left  */

.content-html {
    position: absolute;
    width: 350px;
    height: 200px;
    top: -325px;
    left: -700px;
    background-color: #73224F;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
}

.content-css {
    position: absolute;
    width: 350px;
    height: 200px;
    top: -40px;
    left: -700px;
    background-color: #73224F;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
}

.content-js {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 250px;
    left: -700px;
      background-color: #73224F;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
}

/* contents right  */

.content-php {
    position: absolute;
    width: 350px;
    height: 200px;
    top: -325px;
    left: 550px;
    background-color: #73224F;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
}

.content-java {
    position: absolute;
    width: 350px;
    height: 200px;
    top: -40px;
    left: 550px;
    background-color: #73224F;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
}
.content-sql {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 250px;
    left: 550px;
    background-color: #73224F;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
}

.content-web-development {
    position: absolute;
    width: 350px;
    height: 200px;
    top: -380px;
    left: -70px;
    background-color: #73224F;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;

}


.content-logo {
    width: 75px;
    height: 75px;
    animation: bounce 2s infinite; /* Apply the animation */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Initial shadow */
    border-radius: 50%;
}

.js-logo {
    border-radius: 50%;
    border: none;
}

.java-logo {
    border-radius: 50%;
}

/* edit logo position  */

.content-left img {
    position: absolute;
    left: -185px;
    top: 60px;
    
}

.content-right img {
    position: absolute;
    left: 450px;
    top: 60px;
}
/* on hover  */

#letter-c:hover .display-c-dialog,
#letter-i:hover .display-i-dialog,
#letter-t:hover .display-t-dialog {
    cursor: pointer;
    visibility: visible;
    
    opacity: 1;
}


.bubbles {
position: absolute;
left: 0%;
display: flex;
weight: 100vw;
}
/* background  */
.bubbles span {
width: 30px;
height: 30px;
position: relative;
background: #4fc3dc ;
margin:  0 4px;
border-radius: 50%;
box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc ;
animation: animate 15s linear infinite;
animation-duration: calc(125s / var(--i));
}

/* blocker  */

/* animations  */
.bubbles span:nth-child(even) {
background: #ff2d75;
box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

/* keyframes  */

@keyframes animate {
0% {
    transform: translateY(100vh) scale(0);
}
100% {
    transform: translateY(-19vh) scale(1);
}
}


@keyframes rotateCircle {
    from {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
        transform: rotate(360deg); /* Rotate the circle 360 degrees */
    }
}

@keyframes bounce {
    0% {
      transform: translateY(0); /* Start position */
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Initial shadow */
    }
    50% {
      transform: translateY(-30px); /* Upward movement */
    }
    100% {
      transform: translateY(0); /* Return to start position */
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Wider shadow upon landing */
    }
  }