* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #0c192c;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.circle {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.001);
    border-radius: 50%;
    border: 2px solid transparent;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
    border: 1px solid white;


}

#letter-i { 
    position: absolute;
    top: 0;
    left: 0;
    
}

#letter-i::first-letter {
    color: wheat;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#letter-c {
    position: absolute;
    top: 0;
    right: 0;
    
}

#letter-c::first-letter {
    color: wheat;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#letter-t {
    position: absolute;
    bottom: 0;
    right: 0;
}

#letter-t::first-letter {
    color: wheat;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50%;
}


.circle1 {

    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 0px #4fc3dc, 0 0 0 #4fc3dc ;
}
.circle2 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 30px;
    left: 25px;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 100px #4fc3dc, 0 0 100px #4fc3dc ;

}

.circle3 {
    width: 200px;
    height: 200px;
    position: fixed;    
    top: 30px;
    left: 25px;
    box-shadow: 0 0 0 10px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.line-to-dialog {
    width: 30px;
    height: 1px;
    background-color: #ff2d75;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 100px     #ff2d75, 0 0 100px  #ff2d75 ;
    
}
.line-to-dialog2 {
    width: 75px;
    height: 1px;
    background-color:#ff2d75;
    position: absolute;
    top: -20px;
    left: 20px;
    transform: rotate(-80deg);
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 100px     #ff2d75, 0 0 100px  #ff2d75 ;
    
}
.dialog-box {
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: #73224F;
    position: absolute;
    top: -180px;
    left: 63px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
    
}

.dialog-box .title {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: white;
    letter-spacing: 2px;
}

.dialog-box div {
    color:beige;
}

.display-i-dialog, .display-c-dialog,  .display-t-dialog {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s; 

}

#ict-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
/* dialog box content design  */

.social-media-span {
    position: relative;
}



.display-content {
    padding: 15px;
    width: 300px;
    height: 300px;
    background-color: #73224F;
    position: absolute;
    top: 70px;
    left: -20px;
    border-radius: 20px;
    box-shadow: 0 0 0 2px     #ff2d75, 0 0 50px     #ff2d75, 0 0 100px     #ff2d75 ;
}
.display-description {
    position: relative;
    visibility: hidden; 
}
.display-line-1 {
    width: 80px;
    height: 2px;
    background-color: #ff2d75;
    position: absolute;
    top: 30px;
    left: -40px;
    transform: rotate(90deg);
}
.overview {
    position: relative;
}
/* content description part  */

.network-span:hover .display-networks, .software-span:hover .display-software, .technology-span:hover .display-technology-tools, .messaging-span:hover .display-messaging, .social-media-span:hover .display-social-media, .email-span:hover .display-email, .hardware-span:hover .display-hardware, .gather-span:hover .display-gather, .process-span:hover .display-process, .manage-span:hover .display-manage, .utilize-info-span:hover .display-utilize-info, .various-span:hover .display-various, .digital-span:hover .display-digital {
    cursor: pointer;
    visibility: visible;
    
    opacity: 1;
}
 
 

.display-technology-tools, .display-networks, .display-software, .display-messaging, .display-social-media, .display-email, .display-hardware, .display-gather, .display-process, .display-manage, .display-utilize-info, .display-various, .display-digital 
{
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s; 
    position: absolute;
    top: 30px;
    left: 20px;
    visibility: hidden;
}
 /* gather, process, manage, utilize information, various sources */

 /* gather  */
.line-1-gather {
    position: absolute;
    width: 105px;
    height: 2px;
    transform: rotate(110deg);
    top: -80px;
    left: -30px;
}

.line-2-gather {
    position: absolute;
    top: -131px;
    left: 40px;
    width: 350px;
    height: 2px;
    background-color: #ff2d75;
}

.content-gather {
    position: absolute;
    top: -160px;
    left: 250px;
    height: 180px;
}

/* process  */

.line-1-process {
    position: absolute;
    top: 40px;
    left: -36px;
    width: 100px;
    height: 2px;
    transform: rotate(80deg);

}

.line-2-process {
    position: absolute;
    top: 90px;
    left: 23px;
    width: 350px;
    height: 2px;
    background-color: #ff2d75;
}

.content-process {
    position: absolute;
    top: 60px;
    left: 200px;
    height: 130px;
}

/* manage  */

.line-1-manage {
    position: absolute;
    width: 115px;
    top: -85px;
    left: -70px;
    transform: rotate(80deg);
}
.line-2-manage {
    position: absolute;
    width: 280px;
    height: 2px;
    top: -140px;
    left: -300px;
    background-color: #ff2d75;
}
.content-manage {
    position: absolute;
    top: -170px;
    left: -550px;
    height: 130px;
}

/* utilize information  */

.line-1-utilize-info {
    width: 50px;
    position: absolute;
    top: 12px;
    left: -30px;
    transform: rotate(110deg);
}

.line-2-utilize-info {
    position: absolute;
    top: 35px;
    left: -93px;
    background-color: #ff2d75;
    height: 2px;
    width: 80px;
}

.content-utilize-info {
    position: absolute;
    top: -80px;
    left: -380px;
    height: 180px;
}
/* various sources  */

.line-1-various {
    position: absolute;
    top: 50px;
    left:  -75px;
    transform: rotate(110deg);
    width: 125px;
}

.line-2-various {
    position: absolute;
    top: 100px;
    left: -180px;
    background-color: #ff2d75;
    width: 150px;
    height: 2px;
}
.content-various {
    position: absolute;
    top: 70px;
    left: -420px;
    height: 130px;
}

/* on hover  */

#letter-c:hover .display-c-dialog,
#letter-i:hover .display-i-dialog,
#letter-t:hover .display-t-dialog {
    cursor: pointer;
    visibility: visible;
    
    opacity: 1;
}


.bubbles {
position: absolute;
left: 0%;
display: flex;
weight: 100vw;
}
/* background  */
.bubbles span {
width: 30px;
height: 30px;
position: relative;
background: #4fc3dc ;
margin:  0 4px;
border-radius: 50%;
box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc ;
animation: animate 15s linear infinite;
animation-duration: calc(125s / var(--i));
}

/* blocker  */

/* animations  */
.bubbles span:nth-child(even) {
background: #ff2d75;
box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

/* keyframes  */

@keyframes animate {
0% {
    transform: translateY(100vh) scale(0);
}
100% {
    transform: translateY(-19vh) scale(1);
}
}


@keyframes rotateCircle {
    from {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
        transform: rotate(360deg); /* Rotate the circle 360 degrees */
    }
}